[user]
    email = jon.binney@gmail.com
    name = Jon Binney

[credential]
    helper = cache --timeout=7200

[alias]
  co = checkout
  ci = commit
  st = status
  b = branch -a
  c = clone
  hist = log --graph --oneline --decorate --color
  type = cat-file -t
  dump = cat-file -p
  diffs = diff --staged
  r = remote -v
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

[color]
    ui = true
    [diff]
        whitespace = "red reverse"

[interactive]
  singlekey = true

[alias]
  graph = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"

# Always use ssh for github, even if the remote URL uses
# https or git
[url "git@github.com:"]
  insteadOf = git://github.com/
[url "git@github.com:"]
  insteadOf = https://github.com/
