[submodule "emacs/js3-mode"]
	path = emacs/js3-mode
	url = https://github.com/thomblake/js3-mode.git
[submodule "emacs/cedet"]
	path = emacs/cedet
	url = git://git.randomsample.de/cedet.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
