# Assumes that you are running from this directory.
#
# ansible-playbook -i "localhost," -c local -K config.yml
#
---
- hosts: all
  roles:
      - { role: neovim }
  tasks:

    - name: Run config script
      command: python ~/config/setup.py
      become: yes
      become_user: jbinney

    - name: Install handy APT packages
      apt:
        name={{ item }}
        state=present
      with_items:
        - ccache
        - build-essential
        - ipython
        - python-scipy
        - python-matplotlib
        - scons
        - vim-nox
        - mercurial
        - git
        - subversion
        - openssh-server
        - cmake
        - python-setuptools
        - tmux
        - ruby-dev
        - xclip
        - cmake
        - python-dev
      become: yes

